/* You can add global styles to this file, and also import other style files */

.jumbotron-with-background {
    background-color: #BDB76B;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
