<form [formGroup]="searchForm"  class="form mt-4" (submit)="buscar()">

    <div class="form-group">
        <input 
            class="form-control" 
            placeholder="patientId" 
            formControlName="patientId"
            autofocus>          
    </div>

    <button 
        type="submit" 
        class="btn btn-primary btn-block">
        buscar
    </button>

</form>

<div class="table-responsive">
  <table *ngIf="!erro; else mensagem" class="table table-hover">

    <thead>
      <tr>
        <th>Data</th>
        <th>Batimento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let batimeto of batimentos | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
        <td>{{batimeto.timestamp}}</td>
        <td>{{batimeto.value}}</td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">

      <tr>
        <td colspan="4">
          <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
          </pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
  <ng-template #mensagem>
    <h3 class="text-center">Falha na comunicação
      com o servidor</h3>
  </ng-template>
</div>